
<ion-header>

  <ion-toolbar color="warning">
    <ion-button (click)="getGeolocation()" shape="round" color="dark">
      <ion-icon slot="start" name="locate"></ion-icon>
      Where I Am
    </ion-button>
    <ion-button (click)="customMarkerOnMap()"shape="round" color="primary">
      multiple marker
    </ion-button>
    
    <ion-button (click)="xMap()"shape="round" color="primary">
      dis
    </ion-button>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" (click)="initAutocomplete()"/>


    <ion-title slot="end">Google Map</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="floating-panel">
    <b>Mode of Travel: </b>
    <select id="mode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
  </div>

  <div id="floating-panel">
    <input id="latlng" type="text" value="40.714224,-73.961452" />
    <input id="submit" type="button" value="Reverse Geocode" (click)="initap()" />
  </div>

  <div #map id="map"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Lattitude</b>
      </ion-col>
      <ion-col>
        {{latit}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Longitude</b>
      </ion-col>
      <ion-col>
        {{longit}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col>
        {{address}}
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
